* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2vh;
  text-align: center;
  text-transform: uppercase;
}

/* Adjacent Sibling - directly adjacent to h2 element*/
.adjacent-sibling h2 + p {
  font-size: 25px;
  letter-spacing: 1px;
}

/* General Sibling - on the same level as h2 element*/
.general-sibling h2 ~ p {
  font-size: 25px;
  letter-spacing: 1px;
}
